section .container .row .col{
    width: 300px;
    padding: 30px;
    border: 2px solid black;
}
.col .card .card-img{
    /* border: 1px solid blue; */
}
.col .card .card-img img{
    height: 150px;
}

h1{
    text-align: center;
}
p{
    position: relative;
    top: 13px;
    text-align: center;
}